/*
 * emailcard.component.css
 *
 * Contains css styling for the react component EmailCard.
 */

.emailCard {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 16px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    max-width: 100%;
}