/*
 * emailcard.component.css
 *
 * Contains css styling for the react component EmailCard.
 */

.emailCardActive, .emailCardRead, .emailCardUnread, .emailCardEmpty {
    border: 1px solid #000000;
    padding: 16px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    max-width: 100%;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.emailCardEmpty {
    cursor: auto;
    border: none;
}

.emailCardActive {
    background-color: #ffffb3;
}

.emailCardRead {
    background-color: #e3e3e3;
}

.emailCardUnread {
    color: #e3e3e3;
    background-color: #d025ff;
}

.emailCardActive:hover, .emailCardRead:hover, .emailCardUnread:hover {
    color: black;
    background: #55ffcd;
}