.App {
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100vh;
}

.inboxTrashSidebar {
    display: flex;
    flex-direction: column;
}

.emailsidebar {
    display: flex;
    overflow-y: auto;
}

.emailBody {
    background: aliceblue;
    flex-grow: 1;
    overflow-y: auto;
}