.App {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 100vh;
}

.inboxTrashSidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    outline-style: solid;
    margin-right: 0.5vw;
    width: 10vw;
}

#inboxTrash {
    outline-style: solid;
    outline-width: 0.1vw;
    padding: 1vw;
    margin: 1vw;
}

#inboxTrash:hover {
    background: lightblue;
}

.inboxTrashSidebar img {
    width: 3vw;
}

.emailSidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow-y: auto;
    height: 100vh;
}

.emailBodyContainer {
    background: aliceblue;
    overflow-y: auto;
    flex-grow: 1;
}

.emailBodyContainer:empty:before {
    justify-content: center;
    text-align: center;
    display: block;
    content: attr(data-placeholder);
    color: gray;
}