.App {
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100vh;
}

.inboxTrashSidebar {
    display: flex;
    flex-direction: column;
    outline-style: solid;
    margin-right: 0.5vw;
    width: 10vw;
}

#inboxTrash {
    outline-style: solid;
    outline-width: 0.1vw;
    padding: 1vw;
    margin: 1vw;
}

#inboxTrash:hover {
    background: lightblue;
}

.inboxTrashSidebar img {
    width: 3vw;
}

.emailSidebar {
    display: flex;
    overflow-y: auto;
}

.emailBody {
    background: aliceblue;
    flex-grow: 1;
    overflow-y: auto;
}